$chemaxon-color: #ffa000;
$footer-bg-color: #15262f;
$header-bg-color: $footer-bg-color;
$footer-font-color: #455159;
$footer-link-color: #f3f4f4;
$text-color: #2c3e50;

$site-width: 1000px;

$gutter: 14px;